.banner {
  height: 90vh;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/public/assets/banner-home.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgb(249, 219, 121);
}

.banner h1 {
  color: #fff;
  font-size: 4rem;
  text-shadow: 3px 5px 2px #454354;
  text-align: center;
}

/* SABORES */
.row {
  width: 100%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.row .content-wrapper .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.6rem 1.8rem;
}
.row .img-wrapper img {
  width: 100%;
  order: 1;
}

.row .content-wrapper {
  width: 100%;
  order: 2;
}

.row .content-wrapper .content h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.1rem;
}

.row .content-wrapper .content span {
  font-style: italic;
  font-weight: 600;
  margin-bottom: 2rem;
}

.row .content-wrapper .content p {
  line-height: 26px;
  letter-spacing: 0.8px;
  font-weight: 500;
}

/* media queries */

@media (max-width: 436px) {
  .banner {
    height: 80vh;
  }

  .banner h1 {
    font-size: 3.8rem;
  }
  /* container rows */
  .row {
    grid-template-columns: 1fr;
  }

  .row .content-wrapper {
    height: 70vh;
    font-size: 1.1rem;
    display: grid;
    place-items: center;
  }

  .row .content-wrapper .content span {
    font-size: 1.4rem;
  }
}
