.banner {
  height: 90vh;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/public/assets/banner-home.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgb(249, 219, 121);
}

.banner h1 {
  color: #fff;
  font-size: 4rem;
  text-shadow: 3px 5px 2px #454354;
  text-align: center;
}

/* SABORES */

.row {
  width: 100%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.row .img-wrapper img {
  width: 100%;
  order: 1;
}

.row .content-wrapper {
  order: 2;
}
.row .content-wrapper .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.6rem 1.8rem;
}

.row .content-wrapper .content h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.1rem;
}

.row .content-wrapper .content span {
  font-style: italic;
  font-weight: 600;
  margin-bottom: 2rem;
}

.row .content-wrapper .content p {
  line-height: 1.6;
  font-weight: 500;
}

/* IMAGES CONTAINER */
.img-wrapper img {
  width: 50%;
  height: auto;
  object-fit: cover;
}

/* BIG  SCREEN BIGGER THAN 1450px =================================================================*/
@media (width > 1450px) {
  .row.container {
    width: 100%;
    max-width: 1600px;
  }
  .img-wrapper img {
    width: 50%;
    height: auto;
    object-fit: contain;
  }
}
/* BIG  SCREEN BIGGER THAN 1200px =================================================================*/

@media (width > 1294px) {
  .row.container {
    width: 100%;
    max-width: 1500px;
  }
}

@media (width > 1000px) {
  .row.container {
    width: 100%;
    max-width: 1320px;
  }
}

/* BIG  SCREEN BIGGER THAN 768PX =================================================================*/
@media (width > 768px) {
  .container {
    max-width: 1400px;
    width: 100%;
  }
  .row {
    width: 100%;
  }

  .row .img-wrapper img {
    width: 100%;
    height: 100%;
    order: inherit;
    object-fit: cover;
  }

  .row .content-wrapper {
    width: 100%;
    order: inherit;
    padding: 1.5rem 1.3rem;
  }

  .content-wrapper .content > p {
    font-size: 1.3rem;
    line-height: 2;
  }

  .content-wrapper .content span {
    font-size: 1.6rem;
  }
}
/* QUERIE MEDIUM SCREEN 768PX =================================================================*/

@media (max-width: 768px) {
  .row {
    grid-template-columns: 1fr;
  }

  .row .content-wrapper .content {
    padding: 1rem 2.8rem 3rem 3.3rem;
  }
  .row .content-wrapper .content h2 {
    font-size: 2.3rem;
  }
  .row .content-wrapper .content p {
    font-size: 1.7rem;
    line-height: 1.7;
  }
}

/* MEDIA QUERIES 480PX ======================================================== */
@media (max-width: 480px) {
  .banner {
    height: 80vh;
  }

  .banner h1 {
    font-size: 3.8rem;
  }
  /* container rows */
  .row {
    grid-template-columns: 1fr;
  }

  .row:first-child {
    margin-bottom: 6rem;
  }

  .row .content-wrapper {
    height: 70vh;
    font-size: 1.1rem;
    display: grid;
    place-items: center;
    margin-bottom: 6.5rem;
  }

  .row .content-wrapper .content h2 {
    line-height: 1.3;
  }

  .row .content-wrapper .content p {
    font-size: 1.2rem;
    line-height: 1.7;
  }
  .row .content-wrapper .content span {
    font-size: 1.4rem;
  }
}
